<!-- a list to show the data which come from the food-list componet     -->
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">today List</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class="text-primary">
                  <!-- <th>select</th> -->
                  <th>food items</th>
                  <th>Calories</th>
                  <th class="text-right">Actions</th>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <p>Cupcake</p>
                    </td>
                    <td>
                      <p>300</p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p>Cupcake</p>
                    </td>
                    <td>
                      <p>300</p>
                    </td>
                    <td>
                      <div style="gap: 10px; display: flex;">
                        <button class="btn btn-primary btn-round">Add</button>
                        <button class="btn btn-danger btn-round">
                          Remove
                        </button>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p>Cupcake</p>
                    </td>
                    <td>
                      <p>300</p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
